/* Fonte e Estilo Global */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&display=swap');

body {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300; 
}

/* Seção de Categorias */
.categoria-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.categoria-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Barra de Pesquisa */
.busca-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    position: relative;
    max-width: 350px;
    width: 100%;
}

/* Estilo do Input */
.busca-box input {
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    font-family: 'Figtree', sans-serif;
    width: 100%;
    border-radius: 50px;
    color: #333;
    transition: background-color 0.3s ease;
}

/* Efeito de foco no campo de texto */
.busca-box input:focus {
    background-color: #f9f9f9;
}

/* Estilo do botão */
.busca-box button {
    background-color: #FF7F0F;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin-left: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.busca-box button:hover {
    background-color: #cf6b13;
    transform: scale(1.1);
}

/* Cards de Categorias */
.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categoria-card {
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #fff; /* Deixa o texto sempre branco */
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    height: 120px;
    background: linear-gradient(135deg, #242A36, #510EF3); /* Gradiente aplicado */
}

.categoria-card:hover {
    transform: scale(1.05);
}

/* Estilo da Imagem no Card */
.categoria-imagem {
    flex: 1;
    background-color: #eaeaea;
    overflow: hidden;
}

.categoria-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo do Texto no Card */
.categoria-texto {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.categoria-texto h3 {
    font-size: 16px;
    font-weight: 600;
    color: #fff; /* Mantém o texto legível sobre o gradiente */
    text-align: center;
}
