body {
  font-family: 'Figtree', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #4F00A3;
  position: relative;
}

.voltar-link {
  position: absolute;
  left: 20px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.logoNavSimples {
  height: 40px;
  max-width: 9%;
}

/* Estilização da imagem e texto */
.content {
  display: flex;
  height: calc(100vh - 60px);
  /* Descontando a altura da navbar */
  width: 100%;
}

.left-side {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  line-height: 105%;
}

.overlay-text h1 {
  font-weight: 900;
  color: #fff;
  font-style: italic;
}

.high-text {
  color: #FF7F0F;
}

/* Estilização do formulário */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #FDFFFF;
}

/* Estilização do formulário com grid */
.form {
  font-family: 'Figtree';
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Duas colunas */
  grid-template-rows: auto auto auto auto;
  /* Quatro linhas: campos, campos, descrição e botão */
  grid-gap: 20px;
  /* Espaço entre os campos */
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.form input {
  font-family: 'Figtree';
}
.form input:focus{
  outline: 1px solid #530ef385;
}

.form select {
  font-family: 'Figtree';
}
.form textarea {
  font-family: 'Figtree';
}

/* Campos de entrada padrão */
.se-class,
.in-class,
.text-class {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Campo de descrição ocupa toda a largura */
.text-class {
  grid-column: 1 / 3;
  /* Ocupa as duas colunas */
  grid-row: 3;
  /* Terceira linha */
  height: 100px;
  resize: none;
  font-size: 1rem;
  padding: 10px;
}

.cad-pres {
  grid-column: 1 / 3;
  /* Ocupa as duas colunas */
  grid-row: 4;
  /* Quarta linha */
  background: rgb(255, 127, 15);
  background: linear-gradient(90deg, rgba(255, 127, 15, 1) 0%, rgba(255, 0, 178, 1) 100%);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 50px;
  font-size: 1.2rem;
  max-width: 100%;
  /* Limita o tamanho ao contêiner pai */
  width: 100%;
  /* Ajusta o botão para ocupar a largura total do formulário */
  align-items: center;
  border-radius: 10px;
}

.cad-pres:hover {
  background-color: #6b00d6;
}

.w100 {
  font-weight: 100;
}

.w900 {
  font-weight: 900;
}