body {
    font-family: 'Figtree', sans-serif;
    background-color: #fdffff;
    margin: 0;
    padding: 0;
    font-weight: 300; 
}

.config-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {

    color: #242A36;
}

.config-section {
    margin-top: 20px;
}

h2 {
    color: #ffffff;
    margin-bottom: 15px;
}

.lightBack {
    color: #242A36;
}

.darkBack {
    color: #fdffff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.config-button {
    padding: 10px 15px;
    background-color: #510EF3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.config-button:hover {
    background-color: #510EF3;
}

.config-button:active {
    background-color: #400bbb;
}
