.contratar-servico {
    color: black;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contratar-servico h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.contratar-servico button {
    padding: 10px 20px;
    background-color: #3f128d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contratar-servico button:hover {
    background-color: #371c65;
}
