.contratar-servico {
    color: #242A36;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contratar-servico h1 {
    color: #242A36;
    font-size: 24px;
    margin-bottom: 20px;
}

.contratar-servico button {
    font-family: 'Figtree';
    padding: 10px 20px;
    background-color: #4F00A3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.contratar-servico button:hover {
    background-color: #310066;
}
