@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300; 
}

/* Seção de Categorias */
.container-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.inicio-container {
    background-color: #4F00A3;
    padding: 2em;
    border-radius: 32px;
    box-shadow: 0px 0px 98px -33px rgba(0, 0, 0, 0.75);
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
}

.container-header .title {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-header h2 {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 20px;
}

.container-header i {
    color: #FF7F0F;
}

/* Grade de cards */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Apenas 2 colunas */
    gap: 15px;
}

/* Estilo do card */

.card-inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4F00A3;
    border-radius: 10px;
    padding: 10px 15px;
    transition: transform 0.2s ease;
    font-family: 'Figtree', sans-serif;
}

.card-inicio:hover {
    transform: scale(1.05);
}

.profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.servico-info{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.servico-info p{
    margin: 0px -30px !important;
    font-size: 19px;
    overflow: hidden;
    width: 81%;
}

#categoriaServico {
    font-size: 12px;
    top: 60px;
    text-align: left;
    right: 77px;
}

.infoServico {
    display: flex;
    flex-direction: column;
    width: 185px;
}

/* Foto de perfil */
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Informações do perfil */

.info{
    margin-left: 0.7em;
}
.info h3 {
    font-size: 1.3rem;
    color: white;
    margin: 0;
}

.info p {
    font-size: 0.9rem;
    color: #D4C4E3;
    margin: 0;
}

/* Avaliação e seta */
.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating i{
    color: #F7C216;
    font-size: 20px;
}

.rating span {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}

.arrow i{
    font-size: 1rem;
    color: #FF7F0F;
    text-decoration: none;
}

.carousel-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.carousel-title{
    font-family: 'Figtree', sans-serif;
    color: #F50035;
    font-size: 30px;
}

.carousel-content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;  
}

.carousel-content::-webkit-scrollbar {
    display: none; /* WebKit */
}

.carousel-card {
    flex: 0 0 auto;
    width: 250px;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    font-family: 'Figtree', sans-serif;
    margin: 0px 10px;
}

.carousel-card:hover {
    transform: scale(1.05);
}

.carousel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.carousel-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating-carousel i{
    color: #F7C216;
    font-size: 22px;
}

.profile-info img{
    width: 67px;
    height: 67px;
}

.carousel-card-content {
    margin-top: 10px;
}
.carousel-card-content h3 {
    font-size: 20px;
    margin: 0;
}
.carousel-card-content p {
    font-size: 15px;
    margin: 0;
    font-weight: 100;
}

.carousel-nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.carousel-nav-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-card-button{
    display: flex;
    justify-content: flex-end;
}

.carousel-card-button i{
    color: #F50035;
}

.servico-card {
    flex: 0 0 auto;
    width: 250px;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    font-family: 'Figtree', sans-serif;
    margin: 0px 10px;
}

.servico-card:hover {
    transform: scale(1.05);
}

.servico-card:hover {
    transform: scale(1.05);
}

.servico-card img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}

.servico-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating-servico i{
    color: #F7C216;
    font-size: 22px;
}

.profile-info img{
    width: 67px;
    height: 67px;
}

.servico-card-content {
    margin-top: 10px;
    transition: color 0.3s ease;
}
.servico-card-content h3 {
    font-size: 20px;
    margin: 0;
}
.servico-card-content p {
    font-size: 15px;
    margin: 0;
    font-weight: 100;
}

.infoServico p.hover-color {
    color: #fdffff !important;
    transition: color 0.3s ease;
}
.infoServico strong.hover-color {
    color: #fdffff !important;
    transition: color 0.3s ease;
} 

.servico-card-content h1.hover-color {
    color: #fdffff !important;
    transition: color 0.3s ease;
}
.servico-card-content p.hover-color {
    color: #fdffff !important;
    transition: color 0.3s ease;
}

.servico-card-button button.hover-color {
    color: #fdffff !important;
    transition: color 0.3s ease;
}