.pagamento-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pagamento-container h1 {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
    color: #242A36;
    font-weight: 900;
}

.pagamento-container h3 {
    font-size: 16px;
    color: #242A36;
}

.pagamento-container p {
    font-size: 16px;
    margin: 8px 0;
    line-height: 1.5;
    color: #242A36;
}

.pagamento-container input {
    width: 5%;
    margin: 10px 0px 0px 0px;
    accent-color: #F50035;
    transition: transform 0.5s;
}

.pagamento-container input:checked {
    transform: scale(1.4);
    transition: transform 0.5s;
}


.pagamento-botao {
    margin-top: 20px;
    font-family: 'Figtree';
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(to right, #F50035, #FF7F0F, #F50035);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
}

.pagamento-botao:disabled {
    background-color: #242A36;
    cursor: not-allowed;
}

.pagamento-botao:hover:not(:disabled) {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}
