/* Reset */
body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  padding: 0;
  overflow-x: hidden;
}

/* Linha do topo */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a148c;
  color: white;
  padding: 5px 15px;
  margin-bottom: 3px;
}

.top-bar-container {
  background-color: #4a148c;
}

.top-bar-text {
  font-size: 12px;
}

/* Cabeçalho */
/* Cabeçalho */
.header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.logo {
  display: flex;
}

.logo img {
  height: 40px;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-buttons .button-index {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #510EF3;
  color: white;
}

.button-index {
  font-family: 'Figtree';
  font-weight: 800;
  margin-left: 1px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  background-color: #510EF3;
  color: white;
  padding: 4px 24px;
}

.header-buttons .button-index-outline {
  background-color: transparent;
  border: 1px solid #0000002c;
  color: #242A36;
}

/* Banner principal */
.hero {
  display: flex;
  align-items: center;
  position: relative;
  /* Necessário para o posicionamento absoluto do conteúdo sobre a imagem */
  background-color: #f3e5f5;
}

/* Texto sobre o círculo */
.hero-text {
  position: absolute;
  /* Permite que o texto fique sobre a imagem */
  z-index: 1;
  /* Garante que o texto fique acima da imagem */
  padding: 50px 10px 30px 50px;
  /* Adiciona um pouco de espaçamento interno */
  background-color: rgba(255, 255, 255, 1);
  /* Fundo branco com 80% de opacidade */
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  max-width: 740px;
  /* Limita a largura máxima do texto */
  height: 401px;

}

/* Título e texto */
.hero-text h1 {
  font-size: 80px;
  margin: 0 0 10px;
  font-weight: 500;
  line-height: 66%;
  color: #242A36;
  text-align: left;
}

.hero-text p {
  font-size: 16px;
  margin: 40px 3px 20px;
  color: #242A36;
}

.hero-text .highlight {
  color: #FF7F0F;
  font-weight: 900;
}


/* Imagem do banner */
.hero-image img {
  max-width: 70%;
  margin-left: 457px;
  object-fit: cover;
  /* Garante que a imagem cubra bem o espaço disponível */

  display: block;
}




/* Depoimentos */
.testimonial {
  padding: 50px 20px;
  text-align: center;
  background-color: #4a148c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  /* Texto branco */
  position: relative;
}

/* Aspas gigantes */
.testimonial blockquote {
  font-size: 30px;
  font-style: italic;
  margin: 0 0 30px;
  position: relative;
  max-width: 40%;
  /* Limita o tamanho do texto */
  margin-left: auto;
  margin-right: auto;
}

.testimonial blockquote::before {
  content: '“';
  /* Aspa gigante antes do texto */
  font-size: 100px;
  color: white;
  position: absolute;
  left: -50px;
  top: -35px;
}

.testimonial blockquote::after {
  content: '”';
  /* Aspa gigante após o texto */
  font-size: 100px;
  color: white;
  position: absolute;
  right: -30px;
  bottom: -85px;
}

/* Autor e foto */
.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.testimonial-author img {
  border-radius: 0%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.testimonial-author-text {
  text-align: left;
}

.testimonial-author-name {
  font-size: 18px;
  font-weight: bold;
  color: white;

}

.testimonial-author-description {
  font-size: 14px;
  color: #f3e5f5;
}


/* Seção geral (ajustar para permitir que a imagem cubra parcialmente os cards) */
.cards-section {
  position: relative;
  /* Permite que os cards sejam posicionados sobre a imagem */
  padding: 40px 20px;
  background: rgb(255, 127, 15);
  background: linear-gradient(90deg, rgba(255, 127, 15, 1) 0%, rgba(255, 0, 178, 1) 100%);
  overflow: hidden;
  /* Garante que os cards que ultrapassam a imagem não sejam visíveis */
  height: 428px;
  justify-content: center;
  /* Centraliza horizontalmente */
}

/* Div exclusiva para a imagem */
.image-container {
  position: absolute;
  /* Coloca a imagem sobre os cards */
  width: 30%;
  /* A imagem ocupa mais da largura disponível */
  height: 88%;
  /* A imagem vai ocupar toda a altura */
  z-index: 1;
  /* Garante que a imagem fique sobre os cards */
  justify-content: flex-start;
  margin-top: 10px;

}

.image-container img {
  object-fit: cover;
  margin-left: 100px;
}

/* Cards - os cards agora estarão posicionados atrás da imagem */
.cards {
  display: flex;
  /* Disposição horizontal dos cards */
  gap: 20px;
  /* Espaçamento entre os cards */
  position: relative;
  /* Garante que os cards fiquem sobre a seção de cards */
  transform: translateY(40px);
  /* Levanta os cards para que o topo do primeiro card fique parcialmente coberto pela imagem */
  z-index: 0;
  /* Coloca os cards atrás da imagem */
  margin-left: 30%;
  /* Ajusta os cards para a direita, para não ficarem em cima da imagem */
}

/* Card */
.card {
  background-color: rgba(255, 255, 255, 0.3);
  /* Fundo branco com 30% de opacidade */
  width: 320px;
  /* Largura fixa */
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ffffff25;
  overflow: hidden;
  /* Garante que nada ultrapasse os limites do card */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 20px 20px;
  text-align: center;
  backdrop-filter: blur(5px);
  /* Aplica desfoque no fundo, se necessário */
  transition: background-color 0.3s ease;
  /* Adiciona transição para efeito */
}

/* Card hover (opcional) */
.card:hover {
  background-color: rgba(255, 255, 255, 0.5);
  /* Aumenta a opacidade ao passar o mouse */
}

.card h2 {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 900;
  color: #fff;
}

.card p {
  font-size: 14px;
  margin: 10px 0;
  color: #fdffff;
}

.card .button-index {
  background-color: #4a148c00;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ffffff45;
  cursor: pointer;
}

.dashboardMargin {
  margin: 30px 186px;
}

a {
  cursor: pointer;
}

.buttonsProfile {
  display: flex;
  justify-content: end;
  margin-right: 70px;
}

.background-image-login img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.cardLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff00;
  backdrop-filter: blur(32px);
  border-radius: 16px;
  justify-content: center;
  margin: 80px 300px;
  padding: 120px;
  transition: 0.5s;
}

.cardLogin:hover {
  backdrop-filter: blur(64px);
  transition: 0.5s;
}

.h1Login {
  text-align: center;
  font-size: 90px;
  font-weight: 900;
  color: #fff;
}

.row {
  display: flex;
}

.buttonGradient6 {
  width: 100%;
  background: linear-gradient(to right, #FF00B2, #F7C216);
  padding: 7px;
  border-radius: 4px;
  border: none;
  font-family: 'Figtree';
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  margin-top: 22px;
}

.inputLogin {
  background: none;
  border: 1px solid #ffffff1c;
  outline: none;
  transition: 0.5s;
  color: #fff;
  font-family: 'Figtree';
}

.inputLogin:active {
  outline: 1px solid #ffffff60;
}

.inputLogin:focus {
  outline: 1px solid #ffffff60;
  transition: 0.5s;
}

.noDecoration {
  text-decoration: none;
}

.cardInfo {
  margin-top: 10px;
  font-weight: 100;
  font-size: 12px;
}

.row input {
  margin-top: 10px;
  margin-bottom: -3px;
}

.row input:first-child {
  margin-right: 10px;
}


/* Responsividade para 150% de zoom */
/* @media (min-width: 1200px) and (max-width: 1920px),
(min-resolution: 120dpi) and (max-resolution: 192dpi) { */

  /* Ajustes para o container principal */
  /* .hero { */
    /* flex-wrap: wrap; */
  /* } */

  /* Ajustes para o texto do banner */
  /* .hero-text {
    padding: 30px 190px 55px 40px;
    /* Reduz o espaçamento interno */
    /* max-width: 600px; */
    /* Reduz a largura máxima */
    /* height: auto; */
    /* Remove a altura fixa */
  /* } */ 

  /* .hero-text h1 { */
    /* font-size: 64px; */
    /* Reduz o tamanho da fonte */
    /* line-height: 1.2; */
    /* Ajusta o espaçamento entre linhas */
  /* } */

  /* .hero-text p { */
    /* font-size: 14px; */
    /* Reduz o tamanho da fonte */
    /* margin: 20px 3px 10px; */
    /* Ajusta as margens */
  /* } */

  /* Ajustes para a imagem do banner */
  /* .hero-image img { */
    /* max-width: 70%; */
    /* Reduz a largura máxima */
    /* margin-left: 380px; */
    /* Centraliza a imagem */
    /* height: 100%; */
    /* object-fit: cover; */
    /* display: block; */
  /* } */
/* } */