<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasko</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div class="container" id="tela-inicial">
        <div class="logo">
            <img th:src="@{/img/TaskoWhite.png}" alt="Tasko Logo">
        </div>
        <div class="buttons">
            <a href="/cadastro" class="button primary" id="botao-cadastrar">Cadastrar-se</a>
            <a href="/login" class="button secondary">Já tenho uma conta</a>
        </div>
    </div>

    <div class="container" id="tela-opcoes" style="display: none;">
        <div class="buttons">
            <a href="#" class="button primary">Sou um cliente</a>
            <a href="#" class="button secondary">Sou um prestador</a>
        </div>
        <button id="botao-voltar" class="button secondary">Voltar</button>
    </div>
</body>
</html>