<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasko</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="logo.png" alt="Tasko Logo"> 
        </div>
        <div class="buttons">
            <a href="/cadastro" class="button primary">Cadastrar-se</a>
            <a href="/login" class="button secondary">Já tenho uma conta</a> 
        </div>
    </div>
</body>
</html>