<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tasko</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
  <div class="container" id="tela-inicial">
    <div class="logo">
      <img th:src="@{/img/TaskoWhite.png}" alt="Tasko Logo">
    </div>
    <div class="buttons">
      <button class="button primary" id="botao-cadastrar" onclick="mostrarOpcoes()">Cadastrar-se</button>
      <a href="/login" class="button secondary">Já tenho uma conta</a>
    </div>
  </div>

  <div class="container" id="tela-opcoes" style="display: none;">
    <div class="buttons">
      <!-- Links com o parâmetro 'tipo' na URL -->
      <a th:href="@{/users/cadastro(tipo='cliente')}" class="button primary">Sou um cliente</a>
      <a th:href="@{/users/cadastro(tipo='prestador')}" class="button secondary">Sou um prestador</a>
    </div>
    <button onclick="voltarTelaInicial()" class="button secondary">Voltar</button>
  </div>

  <script>
    function mostrarOpcoes() {
      document.getElementById("tela-inicial").style.display = "none";
      document.getElementById("tela-opcoes").style.display = "block";
    }

    function voltarTelaInicial() {
      document.getElementById("tela-inicial").style.display = "block";
      document.getElementById("tela-opcoes").style.display = "none";
    }
  </script>
</body>
</html>
