<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Busca - Tasko</title>
    <link rel="icon" type="image/png" th:href="@{/img/TkoWhite.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/navStyle.css}">
    <link rel="stylesheet" th:href="@{/css/inicioStyle.css}">
    <script th:src="@{js/CarouselScript.js}"></script>
</head>

<body>

    <!-- Fragmento da Navbar -->
    <div th:insert="fragments/navbar"></div>

    <!-- Seção de Categorias -->
    <section class="container-section">
        <div class="inicio-container">
            <div class="container-header">
                <div class="title">
                    <i class="fas fa-location-pin"></i>
                    <h2>Limeira, São Paulo</h2>
                    <i class="fas fa-exchange-alt"></i>
                </div>
            </div>

            <!-- Cards de Categorias clicáveis com ícones -->
            <div class="card-grid">
                <!-- Card exemplo -->
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="card">
                    <div class="profile-info">
                        <img th:src="@{img/profile1.png}" alt="Foto de Ronaldo Cupim" class="profile-pic">
                        <div class="info">
                            <h3>Ronaldo Cupim</h3>
                            <p>Designer Gráfico</p>
                        </div>
                    </div>
                    <div class="rating">
                        <span><i class="fas fa-star"></i> 4.8</span>
                        <a href="#" class="arrow"><i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>

                <!-- Repita os cards conforme necessário -->
            </div>
    </section>
    <section class="carousel-section">
        <div class="carousel-container">
            <div class="carousel-title">
                <h3>Você também pode gostar de:</h3>
            </div>
            <div class="carousel-content" id="carouselContent">

                <div class="carousel-card">
                    <div class="carousel-card-header">
                        <div class="profile-pic">
                            <img src="path/to/image1.jpg" alt="Service 1">
                        </div>
                        <div class="rating-carousel">
                            <span><i class="fas fa-star"></i> 4.8</span>
                        </div>
                    </div>
                    <div class="carousel-card-content">
                        <h3>Polibe Murici</h3>
                        <p>Desenvolvedor JAVA</p>
                    </div>
                    <div class="carousel-card-button">
                        <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>
            <div class="carousel-nav-buttons">
                <button class="carousel-nav-btn" id="scrollLeft">&#10094;</button>
                <button class="carousel-nav-btn" id="scrollRight">&#10095;</button>
            </div>
        </div>
    </section>
</body>

</html>