<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tasko - Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}"> 
</head>
<body>
  <div class="container">
    <div class="header">
      <img th:src="@{/img/TaskoPurple.png}" alt="Tasko Logo">
      <h2>LOGIN</h2>
    </div>
    <form th:action="@{/login}" method="post">
      <div class="grid-container">
        <div class="grid-item">
          <input type="email" name="email" placeholder="E-mail" required>
          <input type="password" name="senha" placeholder="Senha" required>
        </div>
      </div>
      <button type="submit" class="button primary">Entrar</button>
    </form>
    <div class="links">
      <a href="#">Esqueci minha senha</a>
      <a th:href="@{/}">Criar conta</a> 
    </div>
  </div>
</body>
</html>