<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Busca - Tasko</title>
    <link rel="icon" type="image/png" th:href="@{/img/TkoWhite.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/perfilStyle.css}">
</head>
<body>

<!-- Fragmento da Navbar -->
<div th:insert="fragments/navbar"></div>

    perfil

</body>
</html>
